{% if current_user %}
<div id="dhikrCardIndicators" class="carousel slide mt-4">
	<div class="carousel-inner">
		{% for card in cards %}
		<div class="carousel-item {% if forloop.first%}active{%endif%}">
			<!-- Like and share button groups -->
			{% include './forms/_like_form_partial.html' %}
			<div class="card bg-dark text-light">
				<div class="card-header">
					<p> Dhikr Progression </p>
				</div>
				<div class="card-body text-center">
					<p class="fs-4" >{{ card.title }}</p>
					<div style="margin-right: 15%; margin-left: 15%;" class="progress my-3" role="progressbar" aria-label="Basic example" aria-valuenow="{{ card.user_progress }}" aria-valuemin="0" aria-valuemax="100">
						<div style="width:{{ card.user_progress}}%;" class="progress-bar"></div>
					</div>
					<blockquote class="blockquote mb-0">
						<p class="text-break fs-4">{{ card.description }}</p>
						<footer class="blockquote-footer"><cite title="Source Title"> last read: {{card.last_read_date|timesince}} ago</cite></footer>
					</blockquote>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#dhikrCardIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#dhikrCardIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
{%endif%}