<div id="#quranCardCaroulselIndicators" class="carousel slide mt-4">
	<div class="carousel-inner">
		{% for card in cards %}
		<div class="carousel-item {% if forloop.first%}active{%endif%}">
			<form action="{% url 'like_create' %}" method="post" >
				{% csrf_token %}
				<div style="z-index: 2;" class="position-absolute w-100 d-flex flex-row justify-content-end mt-2 mr-2">
					<!-- Hidden inputs of card id and owner id -->
					<input type="hidden" name="feed_card" value="{{ card.id }}">
					<input type="hidden" name="owner" value="{{ current_user.id }}">

					<button type="submit" class="btn btn-primary btn-sm position-relative">
						<i class="fa fa-heart"></i>
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							{{ card.number_of_likes }}
							<span class="visually-hidden">unread messages</span>
						</span>
					</button>
					<a href="#share" class="btn btn-primary mx-2 btn-sm"><i class="fa fa-share" ></i></a>
				</div>
			</form>
			<div class="card bg-dark text-light">
				<div class="card-header">
					<p> Ayah of the day </p>
				</div>
				<div class="card-body text-center">
					<blockquote class="blockquote mb-0">
						<p class="text-break fs-4">{{ card.arabic_text }}</p>
						<footer class="blockquote-footer"><cite title="Source Title">{{card.title}}:{{card.ayah_number}}</cite></footer>
					</blockquote>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#quranCardCaroulselIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#quranCardCaroulselIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>