<div id="youtubeCardIndicators" class="carousel slide mt-4">
	<div class="carousel-inner">
		{% for card in cards %}
		<div class="carousel-item {% if forloop.first%}active{%endif%}">
			<div class="card bg-dark text-light mt-4">
				{% if card.in_app %}
				<iframe class="w-100" height="315" src="https://www.youtube.com/embed/{{ card.video_id }}" frameborder="0" allowfullscreen></iframe>
				{% else %}
				<img src="{% if card.preview_image %}{{ card.preview_image.url }}{%else%} https://placehold.co/600x400 {%endif%}" class="card-img-top opacity-50" alt="{{ card.preview_image.url }}">
				{% endif %}
				<div class="card-body">
					{% include './forms/_like_form_partial.html' %}
					<h5 class="card-title">{{ card.title }}</h5>
					<p class="card-text">{{ card.description }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#youtubeCardIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#youtubeCardIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
