<div id="#pictureCardIndicators" class="carousel slide mt-4">
	<div class="carousel-inner">
		{% for card in cards %}
		<div class="card bg-dark text-light mt-4">
			{% if card.in_app %}
			<iframe class="w-100" height="315" src="https://www.youtube.com/embed/{{ card.video_id }}" frameborder="0" allowfullscreen></iframe>
			{% else %}
			<img src="{{ card.preview_image.url }}" class="card-img-top opacity-50" alt="{{ card.preview_image.url }}">
			{% endif %}
			<div class="card-body">
				<form action="{% url 'like_create' %}" method="post" >
					{% csrf_token %}
					<div style="z-index: 2;" class="position-absolute w-100 d-flex flex-row justify-content-end mt-2 mr-2">
						<!-- Hidden inputs of card id and owner id -->
						<input type="hidden" name="feed_card" value="{{ card.id }}">
						<input type="hidden" name="owner" value="{{ current_user.id }}">

						<button type="submit" class="btn btn-primary btn-sm position-relative">
							<i class="fa fa-heart"></i>
							<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								{{ card.number_of_likes }}
								<span class="visually-hidden">unread messages</span>
							</span>
						</button>
						<a href="#share" class="btn btn-primary mx-2 btn-sm"><i class="fa fa-share" ></i></a>
					</div>
				</form>
				<h5 class="card-title">{{ card.title }}</h5>
				<p class="card-text">{{ card.description }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#pictureCardIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#pictureCardIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
