<div class="card">
	<div class="card-header">
		Ayah of the day
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p class="text-break text-md-center" >{{ card.arabic_text }}</p>
			<p>{{ card.description }}</p>
			<footer class="blockquote-footer d-flex justify-content-between">
				<cite title="Source Title">{{ card.title }}:{{ card.ayah_number }}</cite>
				<div class="btn-group">
					<form action="{% url 'like_create'%}"  method="post">
						{% csrf_token %}
						<input type="hidden" name="feed_card" value="{{ card.id }}">
						<input type="hidden" name="owner" value="1">
						<a class="btn like-count">{{ card.number_of_likes }}</a>
						{% if current_user %}
						<button type="submit" class="btn btn-link"><i class="fa fa-heart"></i></button>
						{% else %}
						<button disabled type="submit" class="btn btn-link"><i class="fa fa-heart"></i></button>
						{% endif %}
						<a class="btn btn-link"><i class="fa fa-share"></i></a>
					</form>
				</div>
			</footer>
		</blockquote>
	</div>
</div>