.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.my-card {
    margin-top: 1.75vh;
    color: #fff;
    border-radius: 8px;
    padding: 1em;
    width: 40%;
    height: 24vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quran-card{
    background-color: #7c98c8;
}

.like-group {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.like-count {
    color: #333;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
}

.icons {
    margin-top: 1em;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 1em;
}

.icons i {
    font-size: 24px;
    margin-right: 10px;
    color: #333;
    cursor: pointer;
}

.icons i:hover {
    color: #f25042;
}

@media only screen and (max-width: 800px) {
    .my-card {
        width: 50%;
    }
}